@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}
.navbar{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar .discount{
    width: 100%;
    height: 5vh;
    color: #fff;
    background: #005CFF;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.navbar .discount p span{
    background: #7611b9;
    border-radius: 5px;
}
.navbar .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navbar .container .img{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navbar .container .input{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.navbar .container .input .container-input{
    border: 1px solid #DDDDDD;
    border-radius: 10px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.navbar .container .input .container-input input{
    border: none;
    outline: none;
    width: 350px;
    height: 35px;
}
.navbar .container .user{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar .container .user .client{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.navbar .content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.navbar .content .all-categories a, .navbar .content a{
    color: #000;
    text-decoration: none;
}

.banner{
    background: #E7E7EA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.banner .img{
    width: 50%;
    display: flex;
    justify-content: center;
}
.banner .text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner .text .supersale{
    font-size: 80px;
}
.banner .text .discount{
    color: #005CFF;
    font-size: 20px;
}
.banner .text .off{
    color: #005CFF;
    font-size: 40px;
}

.launch .text{
    margin: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.launch .text a{
    color: #000;
    text-decoration: none;
}
.launch .container{
    margin: 2%;
}
.launch .container ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.launch .container ul li{
    margin: 2%;
    border: 1px solid #DDDDDD;
    border-radius: 5px;
    list-style: none;
}
.launch .container ul li .content{
    margin: 2%;
}
.launch .container ul li .content .new{
    background: #00264E;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    font-size: 12px;
    position: absolute;
}
.launch .container ul li .content .values{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.launch .container ul li .content .values .off{
    background: #5EC0BE;
    color: #fff;
    margin-left: 10%;
    border-radius: 5px;
    font-size: 12px;
}
.launch .container ul li .content button{
    background: #005CFF;
    color: #fff;
    width: 100%;
    height: 35px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 15px;
}