@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

/* banner */
.poster{
    width: 100%;
    height: 100%;
    background: #E7E7EA;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.poster .container-img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.poster .container-img img{
    width: 500px;
    height: 400px;
}
.poster .container-text{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.poster .container-text h4, .poster .container-text h2{
    color: #005CFF;
}
.poster .container-text p{
    font-size: 90px;
    color: #000;
}
.poster .container-text h4{
    font-size: 20px;
}
.poster .container-text h2{
    font-size: 30px;
}

/* lançamentos */
.launch{
    border: 3px solid red;
}
.launch ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.launch ul li{
    border: 2px solid green;
    width: 15%;
    height: 100%;
    list-style: none;
}
.launch ul li img{
    width: 190px;
    height: 200px;
}

/* informação */
.information{
    border: 3px solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.information .container{
    border: 5px solid pink;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.information .container .container-img{
    background: #c2c2c2;
}
.information .container .container-img img{
    width: 500px;
    height: 500px;
}